---
layout: base
---

{% for post in paginator.posts %}

  {% if post.cover_image %}
  <div class="article-cover">
    <div>
      <img src="/images/{{ post.cover_image }}" class="image">
    </div>
  </div>
  {% endif %}

  <article>
    <div class="container">
      <header>
        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="meta">
            Published on
            <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </div>
      </header>

      <section>
        {{ post.content }}
      </section>
    </div>
  </article>

  <hr>

{% endfor %}

<section class="pagination" style="text-align:center">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/" class="btn btn-outline">‹ Newer</a>
    {% else %}
    <a href="/page/{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page/{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
  {% endif %}
</section>
