<ul id='timeline'>
  <li>
    <p>Stayed in Czech Reoublic for an acceleration programme for CokuApp.</p>
    <span>May 2018</span>
  </li>

  <li>
    <p>Participated in an entrepreneruship course – iLoveEmprender – and won.</p>
    <span>April 2018</span>
  </li>

  <li>
    <p>Launched Coku-App, a kick ass web application for managing coworking spaces.</p>
    <span>February 2018</span>
  </li>

  <li>
    <p>I quit my job in order to focus on my own startup</p>
    <span>February 2017</span>
  </li>

  <li>
    <p>Participated in Startup Weekend Global Battle</p>
    <span>November 2016</span>
  </li>

  <li>
    <p>Participated in Startup Weekend Seville > Gamification and videogames (ranked 2º best team, woot!)</p>
    <span>October 2016</span>
  </li>

  <li>
    <p>Joined Haiku Learning as a freelancer</p>
    <span>July 2016</span>
  </li>

  <li>
    <p>Started developing a software for coworking spaces.</p>
    <span>January 2016</span>
  </li>

  <li>
    <p>Participated in Startup Weekend Global Battle: Seville</p>
    <span>November 2015</span>
  </li>

  <li>
    <p>Contributed to the Hanami project, a very well designed ruby web framework.</p>
    <span>October 2015</span>
  </li>

  <li>
    <p>Completed the MBA</p>
    <span>October 2015</span>
  </li>

  <li>
    <p>Started studying an MBA at Pablo de Olavide University</p>
    <span>November 2014</span>
  </li>

  <li>
    <p>Upgraded Google authentication system from OpenID Connect to oAuth 2. Haiku Learning</p>
    <span>April 2014</span>
  </li>

  <li>
    <p>Designed, coded and launched <a href="http://eucalipto.eu/">Eucalipto</a>, a product designed for dental clinics. Ruby on Rails & MongoDB</p>
    <span>September 2013</span>
  </li>

  <li>
    <p>Open-sourced <a href="https://github.com/Nerian/bootstrap-typeahead-rails">bootstrap-typeahead-rails</a></p>
    <span>August 2013</span>
  </li>

  <li>
    <p>Led team efforts to implement a Ruby on Rails 3 API by extracting behavior from a monolithic Ruby on Rails 1.2.6 app. Haiku Learning</p>
    <span>May 2013</span>
  </li>

  <li>
    <p>Open-sourced <a href="https://github.com/haikulearning/uboost-client">uboost-client</a>, a ruby client for the Uboost API</p>
    <span>October 2012</span>
  </li>

  <li>
    <p>Implemented a gamification system in Haiku LMS by integrating with Uboost and Credly. Haiku Learning.</p>
    <span>July 2013</span>
  </li>

  <li>
    <p>Started <a href="http://contributors.rubyonrails.org/contributors/gonzalo-rodriguez-baltanas-diaz/commits">contributing</a> to Ruby on Rails</p>
    <span>2013 December</span>
  </li>

  <li>
    <p>Open-sourced a <a href="https://github.com/haikulearning/credly-ruby">ruby client for the Credly API</a></p>
    <span>July 2012</span>
  </li>

  <li>
    <p>Joined <b>Haiku Learning</b> as a Ruby on Rails developer.</p>
    <span>June 2012</span>
  </li>

  <li>
    <p>Open-sourced <a href="https://github.com/Nerian/bootstrap-datepicker-rails">bootstrap-datepicker-rails</a>. With 450,695 downloads it ought to be the most popular datepicker in rails.</p>
    <span>March 2012</span>
  </li>

  <li>
    <p>Open-sourced <a href="https://github.com/Nerian/bootstrap-wysihtml5-rails">bootstrap-wysihtml5-rails</a></p>
    <span>March 2012</span>
  </li>

  <li>
   <p>Open-sourced <a href="https://github.com/Nerian/DaVinci-LMS">DaVinci LMS</a>, a small Learning Management System. Ruby on Rails + MongoDB. </p>
    <span>February 2012</span>
  </li>

  <li>
    <p>Graduated in <b>Computer Science</b> by the University Pablo de Olavide.</p>
    <span>January 2012</span>
  </li>

  <li>
    <p>Open-sourced <a href="https://github.com/Nerian/BloodChalice">Bloodchalice</a>, a dungeon video-game in ruby. Part of Mendicant Core course</p>
    <span>September 2011</span>
  </li>

  <li>
    <p>Open-sourced <a href="https://github.com/Nerian/Pugnacious-Juices">pugnacious_juices</a>, a video-game coded in Ray, a Ruby game engine. Part of Mendicant Core course</p>
    <span>September 2011</span>
  </li>

  <li>
    <p>Open-sourced <a href="https://github.com/Nerian/Wordcram.rb">Wordcram</a>, a JRuby wrapper for the java word cloud generator Wordcram. Part of Mendicant Core course</p>
    <span>September 2011</span>
  </li>

  <li>
    <p>I was mentored by Gregory Brown in the <b>Mendicant University Core</b> course. Graduated as alumni</p>
    <span>September 2010</span>
  </li>

  <li>
    <p>I spent a year as a Computer Science <b>Erasmus student</b> in the university Notre-Dame de la Paix, Namur, Belgium.</p>
    <span>September 2010 - July 2011</span>
  </li>

  <li>
    <p>B2 Advanced English, Official Academy of languages of Spain</p>
    <span>September 2010</span>
  </li>

  <li>
    <p><b>Discovered Ruby on Rails.</b> Spent the following week reading <i>Agile Web Development with Rails</i> 9 hours a day. Decided I wanted to become a professional Ruby on Rails developer. Best decision in my life.</p>
    <span>March 2010</span>
  </li>

  <li>
    <p>Open-sourced <a href="https://github.com/Nerian/Upo-The-Game">UPO: The game</a>. A space shooter coded in Python and Pygame.</p>
    <span>2009</span>
  </li>

  <li>
    <p>Started studying Computer Science at the University Pablo de Olavide</p>
    <span>2008</span>
  </li>

  <li>
    <p>Studied one year of Biology. Got bored and decided that I wanted to make video-games.</p>
    <span>2007</span>
  </li>

  <li>
    <p>Graduated from high school</p>
    <span>2006</span>
  </li>

  <li>
    <p>Coded my first website. An image of Yoda smoking weed, inside a carousel, centered using a table. True story bro :)</p>
    <span>2004</span>
  </li>

  <li>
    <p>Installed Gentoo, a linux distro. Customised the Linux Kernel and compiled every single package. No GUI. I had way too much free time back then.</p>
    <span>2002</span>
  </li>

  <li>
    <p>The journey begins</p>
    <span>1988</span>
  </li>

</ul>